* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  position: relative;
  overflow-x: hidden; }

h1 {
  font-size: 5.5rem;
  line-height: 1.35; }
  @media only screen and (max-width: 28.12em) {
    h1 {
      font-size: 3.2rem; } }

h2 {
  font-size: 4rem;
  font-weight: 500; }
  @media only screen and (max-width: 28.12em) {
    h2 {
      font-size: 2.6rem; } }

h3 {
  font-size: 2.4rem;
  font-weight: 500; }

h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #4bbb7d; }

h5 {
  font-size: 1.8rem; }

p {
  color: #666; }

.u-center {
  justify-items: center;
  align-items: center; }

.text-heighlight {
  position: relative; }
  .text-heighlight::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.1) skewX(-15deg);
    background-image: linear-gradient(to top left, #39b385, #9be15d); }

.medium-gap {
  gap: 3rem; }

.small-gap {
  gap: 2rem; }

.large-gap {
  gap: 4rem; }

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.section-hidden {
  opacity: 0;
  transform: translateY(8rem); }

.lazy-load {
  filter: blur(10px); }

.header {
  width: 100%;
  height: 9rem;
  padding: 0rem 6rem;
  justify-content: space-between;
  transition: all 0.7s; }
  .header__logo {
    width: 15rem;
    transition: all 0.4s; }
    .header__logo.hovered--not-active {
      opacity: 0.5; }
  .header.sticky {
    position: fixed;
    z-index: 999999;
    background-color: rgba(255, 255, 255, 0.897); }

.footer {
  padding: 10rem 3rem;
  background-color: #37383d; }
  .footer__nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    justify-content: center;
    margin-bottom: 5rem; }
  .footer__link {
    font-size: 1.6rem;
    color: #eee;
    text-decoration: none; }
  .footer__logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
    cursor: pointer;
    transition: all 0.5s; }
    .footer__logo:hover {
      transform: rotateZ(-270deg); }
  .footer__copyright {
    font-size: 1.4rem;
    color: #aaa;
    text-align: center; }
    .footer__copyright a {
      font-size: 1.4rem; }

.nav__list {
  font-size: 1.8rem;
  list-style: none;
  gap: 3rem; }
  @media only screen and (max-width: 54.375em) {
    .nav__list {
      flex-direction: column; } }

.nav__link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  transition: all 0.4s; }
  .nav__link.hovered--active {
    opacity: 1; }
  .nav__link.hovered--not-active {
    opacity: 0.5; }

.nav__item:last-child {
  background-color: #5ec576;
  padding: 0.8rem 2.4rem;
  border-radius: 4rem;
  cursor: pointer; }

@media only screen and (max-width: 54.375em) {
  .nav {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    width: 100%;
    height: 75vh;
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    color: #fff;
    transform: translateY(-100rem);
    transition: all 1s; } }

@media only screen and (max-width: 54.375em) {
  .nav.clicked {
    transform: translateY(0); } }

.nav.clicked .nav__list .nav__item:last-child {
  background-color: #ff585f; }
  .nav.clicked .nav__list .nav__item:last-child:hover {
    background-color: #fd424b; }

main {
  margin: 0 auto; }

.container {
  margin: 0 auto;
  max-width: 85%; }

.inner-container {
  width: 80%;
  margin: 0 auto; }

.auto-fit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  justify-items: center;
  align-items: center; }

.button-basics, .menu-btn, .operations__btn, .slider__btn, .sign-up__btn, .modal-btn, .cookie-btn, .dots {
  background: none;
  border: none;
  cursor: pointer; }

.menu-btn {
  z-index: 99;
  display: none; }
  .menu-btn svg {
    width: 2.8rem;
    height: 2.8rem;
    transition: all 0.5s; }
  .menu-btn:hover svg {
    transform: scale(1.3); }
  .menu-btn__close.hidden {
    display: none; }
  .menu-btn__menu.hidden, .menu-btn__close.hidden {
    display: none; }
  @media only screen and (max-width: 54.375em) {
    .menu-btn {
      display: block; } }

.operations__btn {
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 10rem;
  padding: 1.4rem 4.2rem;
  transition: all 0.4s;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1); }
  .operations__btn--1 {
    background-color: #ffcb03; }
    .operations__btn--1:hover {
      background-color: #ffbb00; }
  .operations__btn--2 {
    background-color: #5ec576; }
    .operations__btn--2:hover {
      background-color: #4bbb7d; }
  .operations__btn--3 {
    background-color: #ff585f; }
    .operations__btn--3:hover {
      background-color: #fd424b; }
  @media only screen and (max-width: 54.375em) {
    .operations__btn {
      padding: 1.4rem 2.2rem; } }
  @media only screen and (max-width: 28.12em) {
    .operations__btn {
      font-size: 1.4rem;
      border-radius: 0;
      padding: 1rem 1.2rem;
      gap: 0; } }
  .operations__btn--active {
    transform: translateY(-1rem) perspective(0); }

.slider__btn {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 2.4rem;
  font-weight: 700; }
  .slider__btn--previous {
    left: 6%;
    transform: translate(-50%, -50%); }
  .slider__btn--next {
    right: 6%;
    transform: translate(50%, -50%); }

.sign-up__btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
  border-radius: 10rem;
  background-image: linear-gradient(to top left, #39b385, #9be15d); }
  .sign-up__btn:hover {
    background-image: linear-gradient(#5ec576, #5ec576); }
  @media only screen and (max-width: 28.12em) {
    .sign-up__btn {
      padding: 2rem; } }

.modal-btn__close {
  position: absolute;
  top: 2rem;
  right: 2.4rem; }
  .modal-btn__close svg {
    width: 2.8rem;
    height: 2.8rem;
    transition: all 0.5s; }
  .modal-btn__close:hover svg {
    transform: scale(1.3); }

.modal-btn__submit {
  align-self: center;
  background-color: #5ec576;
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal-btn__submit:hover {
    background-color: #ff585f; }

.cookie-btn {
  color: #fff;
  background-color: #5ec576;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 10rem; }

.slider {
  margin-top: 5rem;
  width: 100%;
  height: 50rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 54.375em) {
    .slider {
      height: 60rem; } }
  @media only screen and (max-width: 28.12em) {
    .slider {
      height: 100rem; } }
  .slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s; }
  .slider__content {
    width: 65%;
    position: relative;
    align-items: flex-start; }
    .slider__content::before {
      content: "\201C";
      font-size: 20rem;
      color: #5ec576;
      position: absolute;
      top: -12.7rem;
      left: -6.8rem;
      z-index: -1; }
      @media only screen and (max-width: 28.12em) {
        .slider__content::before {
          font-size: 10rem;
          top: -7.7rem;
          left: -3.8rem; } }
  .slider blockquote {
    font-size: 1.8rem; }
  .slider__author img {
    width: 10rem;
    border-radius: 50%; }
  .slider__user-name {
    font-size: 1.8rem;
    font-weight: 600; }
  .slider__user-location {
    font-size: 1.4rem;
    font-weight: 500; }
  @media only screen and (max-width: 28.12em) {
    .slider {
      width: 100%; } }

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 9999999;
  transition: all 0.5s; }
  .modal__header {
    padding: 0 3rem; }
    @media only screen and (max-width: 28.12em) {
      .modal__header .text-heighlight::after {
        display: none; } }
  .modal__overlay {
    height: 100%;
    background-color: #3a3a3ab1;
    position: relative; }
  .modal__message {
    width: 55rem;
    padding: 5rem;
    gap: 4rem;
    background-color: #f3f3f3;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: stretch; }
    @media only screen and (max-width: 28.12em) {
      .modal__message {
        width: 90%; } }
    @media only screen and (max-height: 33.125em) {
      .modal__message {
        padding: 0.6rem;
        gap: 1.4rem;
        align-items: center; } }
  .modal__row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-size: 1.7rem; }
    @media only screen and (max-width: 28.12em) {
      .modal__row {
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
        grid-auto-rows: 3rem;
        row-gap: 1.3rem; } }
    .modal__row label {
      font-size: inherit;
      font-weight: 500; }
    .modal__row input {
      font-size: inherit;
      padding: 1.5rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem; }
      .modal__row input.not-valid {
        border: 1px solid red; }
    .modal__row input:focus {
      outline: none; }
  .modal__form {
    align-items: stretch;
    gap: 3rem; }
    @media only screen and (max-height: 33.125em) {
      .modal__form {
        padding: 0.6rem;
        gap: 1.4rem;
        align-items: center; } }
  .modal.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; }
  .modal__succsess {
    display: none;
    color: #5ec576; }
    .modal__succsess.active {
      display: block; }

.cookie-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  background-color: white;
  color: #aaa;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.5rem 0;
  transition: all 0.5s;
  position: fixed;
  z-index: 99999;
  bottom: 0; }
  @media only screen and (max-width: 28.12em) {
    .cookie-message {
      font-size: 1.4rem;
      padding: 1rem 2rem; } }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  height: 5rem; }
  .dots__dot {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #b9b9b9;
    transition: all 0.5s;
    opacity: 0.7; }
    .dots__dot--active {
      background-color: #888;
      opacity: 1; }

.hero {
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  padding: 9rem 0 18rem; }
  .hero__wrapper {
    height: 100%; }
    @media only screen and (max-width: 28.12em) {
      .hero__wrapper {
        justify-content: center; } }
  .hero__text {
    align-items: flex-start; }
    @media only screen and (max-width: 28.12em) {
      .hero__text {
        align-items: center;
        text-align: center; } }
    .hero__text a {
      font-size: 1.6rem;
      text-decoration: none;
      color: #5ec576; }
  .hero__img img {
    max-width: 50rem; }
    @media only screen and (max-width: 28.12em) {
      .hero__img img {
        max-width: 33rem; } }
  .hero.jump-up {
    padding: 18rem 0; }

.features {
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  padding: 18rem 0;
  transition: all 0.8s; }
  @media only screen and (max-width: 28.12em) {
    .features__wrapper {
      justify-content: center; } }
  .features__header {
    grid-column: 1/-1; }
    @media only screen and (max-width: 28.12em) {
      .features__header {
        text-align: center; } }
  .features__img {
    width: 100%;
    transition: all 0.4s; }
    @media only screen and (max-width: 68.7em) {
      .features__img {
        width: 75%;
        justify-self: center; } }
  .features__text {
    width: 70%;
    align-items: flex-start;
    align-self: center;
    justify-self: center; }
    .features__text p {
      font-size: 1.8rem; }
    @media only screen and (max-width: 68.7em) {
      .features__text--2 {
        grid-row: 5/6; } }
  .features__icon {
    width: 5rem;
    height: 5rem;
    background-color: #5ec5763a;
    border-radius: 50%; }
    .features__icon svg {
      fill: #4bbb7d;
      width: 2.5rem;
      height: 2.5rem; }

.operations {
  padding: 18rem 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  transition: all 0.8s; }
  .operations__box {
    display: none;
    grid-template-columns: 1fr 5fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    padding: 7rem 5rem; }
    .operations__box p {
      grid-column: 2/-1;
      font-size: 1.4rem; }
      @media only screen and (max-width: 28.12em) {
        .operations__box p {
          overflow: hidden; } }
    @media only screen and (max-width: 28.12em) {
      .operations__box {
        grid-template-rows: auto 11rem auto;
        padding: 1rem;
        align-content: start; } }
    @media only screen and (max-width: 28.12em) {
      .operations__box.more {
        grid-template-rows: auto; } }
    .operations__box--active {
      display: grid; }
  .operations__icon {
    width: 7rem;
    height: 7rem;
    background-color: #ffcd0331;
    border-radius: 50%;
    justify-self: center; }
    .operations__icon svg {
      width: 3rem;
      height: 3rem;
      fill: #ffbb00; }
  .operations__tab {
    margin-top: 7rem;
    width: 80%;
    background-color: #fff; }
  .operations__btn-box {
    gap: 3rem;
    transform: translateY(-2rem); }
    @media only screen and (max-width: 28.12em) {
      .operations__btn-box {
        gap: 0; } }
  .operations__read-more {
    height: 2rem;
    font-size: 1.2rem;
    grid-column: 2/-1;
    color: #5ec576;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; }
    .operations__read-more:hover {
      cursor: pointer; }
    @media only screen and (max-width: 28.12em) {
      .operations__read-more {
        opacity: 1;
        visibility: visible;
        pointer-events: all; } }
  @media only screen and (max-width: 54.375em) {
    .operations__tab, .operations__box,
    .operations__wrapper .inner-container {
      width: 100%; } }

.testimonials {
  padding: 18rem 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  transition: all 0.8s; }
  @media only screen and (max-width: 28.12em) {
    .testimonials__wrapper {
      max-width: 100%;
      padding: 0 3rem; } }
  @media only screen and (max-width: 28.12em) {
    .testimonials__header {
      width: 100%; } }

.sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
  transition: all 0.8s; }
  .sign-up__wrapper {
    max-width: 65%; }
    @media only screen and (max-width: 28.12em) {
      .sign-up__wrapper {
        max-width: 100%; } }
  .sign-up__header {
    color: #fff;
    margin-bottom: 6rem; }
